@model IEnumerable<MVC.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a class="btn btn-success" asp-area="" asp-controller="Produto" asp-action="Create">
        <i class="fa fa-square-plus"></i>
        Criar
    </a>
    @* <a asp-action="Create">Criar</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @* Ativo? *@
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa fa-circle-info"></i>
                    Detalhes
                </a>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fa fa-pen-to-square"></i>
                    Editar
                </a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fa fa-trash"></i>
                    Apagar
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
